/* white-space 사용방법 */

div { width: 400px; height : 300px; background-color : #ccc}

.test1 { white-space: nowrap;} /* 어떤 상황에서도 텍스트를 한 줄로 표시한다. (줄바꿈 X)*/
.test2 { white-space: pre;}    /* 내가 쓴 그대로 텍스트가 표시된다. (space도 마음대로 가능) */
.test3 { white-space: pre-wrap;} /* 내가 쓴 그대로 텍스트가 표시되지만 박스안에서 자동으로 줄바꿈이 일이난다. */
